.icons-container {
  gap: 40px;
  justify-content: flex-start;
}

@media (max-width: 1024px) {
  .icons-container {
    gap: 20px;
  }
}

.icon1 .icon2 .icon3 .icon4 {
  transition: transform 1s ease;
}

.icon1:hover,
.icon2:hover,
.icon3:hover,
.icon4:hover {
  transform: scale(1.1);
}

@media (max-width: 1024px) {
  .icon1,
  .icon2,
  .icon3,
  .icon4 {
    width: 60px;
    height: 60px;
  }
}

@media (max-width: 425px) {
  .icon1,
  .icon2,
  .icon3,
  .icon4 {
    width: 50px;
    height: 50px;
  }
}
